.backdrop {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  
    background: rgba(0, 0, 0, 0.2);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
      }
  }

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  
    min-width: 528px;
    min-height: 581px;
  
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


        &__title {
            padding: 40px 40px 2px 40px;
            margin-bottom: 10px;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            line-height: 1.15;
            text-align: center;
            letter-spacing: 0.03em;
            color: $primary-text-color;
          }

        &__label {
            display: flex;
            flex-direction: column;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 10px;
          
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
          
            color: $aditional-text-color;

            &:last-of-type {
                margin-bottom: 20px;
              }
          }

        &__wrap {
            position: relative;
          }
        
        &__input{
            width: 100%;
            height: 40px;
            margin-top: 4px;
            padding-left: 42px;
          
            border: 1px solid rgba(33, 33, 33, 0.2);
            box-sizing: border-box;
            border-radius: 4px;
          
            outline: none;
          
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

                &:focus,
                &:hover {
                    border-color: $accent-color;
                    cursor: pointer;
                }
          }

        &__icon {
            position: absolute;
            align-items: center;
            justify-content: center;
            display: flex;
          
            margin-left: 11px;
          
            transform: translateY(-160%);

            .modal__input:focus + &,
            .modal__input:hover + & {
                fill: #188ce8;
              }
          }

        &__comments {
            width: 100%;
            resize: none;
            padding: 12px 16px;
            margin-top: 4px;
            width: 448px;
            height: 120px;
          
            border: 1px solid rgba(33, 33, 33, 0.2);
            box-sizing: border-box;
            border-radius: 4px;
          
            outline: none;
          
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

                &:focus,
                &:hover {
                    border-color: $accent-color;
                    cursor: pointer;
                  }

                &::placeholder {
                    color: rgba(117, 117, 117, 0.5);
                  }
          }

        &__checkbox-wrap {
            margin-left: 52px;
            margin-bottom: 30px;
            display: inline-block;
          }

        &__checkbox {
            font-size: 14px;
            line-height: 1.714;
            letter-spacing: 0.03em;
            cursor: pointer;
          
            color: $aditional-text-color;

                &::before {
                    content: "";
                    width: 16px;
                    height: 15px;
                    display: inline-block;
                    vertical-align: middle;
                    background-image: url("../../images/icons/checkbox.svg");
                    border-radius: 2px;

                      .modal__check:hover + & {
                          width: 16px;
                          height: 15px;
                          display: inline-block;
                          vertical-align: middle;
                          background: $white-color;
                          border: 1px solid $accent-color;
                          border-radius: 2px;
                        }
      
                      .modal__check:checked + & {
                          width: 16px;
                          height: 15px;
                          display: inline-block;
                          vertical-align: middle;
                          background: $accent-color;
                          background-image: url("../../images/icons/check.svg");
                          background-repeat: no-repeat;
                          background-position: center;
                        }
                  }
                    
            }

        &__check {
            appearance: none;
            position: absolute;
            display: flex;
          
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

        &__link-policy {
            color: $accent-color;
          }

        &__submit-button {
            display: flex;
            position: absolute;
            width: 200px;
            height: 50px;
            margin-left: 165px;
            padding: 10px 55px 10px 56px;
            border: none;
          
            font-size: 16px;
            line-height: 1.875;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: $white-color;
          
            background: $accent-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
          
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

                &:focus,
                &:hover {
                    background: #188ce8;
                    cursor: pointer;
                }
          }

        .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0.5);
          }

        &__close-modal {
            position: absolute;
            right: 8px;
            top: 8px;
        
            width: 30px;
            height: 30px;
        
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: $white-color;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);

            &:hover {
                fill: $accent-color;
              }
    }
  }
