.work-section {
    padding-top: 0px;
    padding-bottom: 94px;

    &__heading {
        margin-bottom: 50px;
        color: $primary-text-color;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.166;
        text-align: center;
        letter-spacing: 0.03em;
    }

    &__list {
        display: flex;
      }

    &__item {
      position: relative;
      cursor: pointer;
    }

    &__item + &__item {
        margin-left: 30px;
      }

    &__label {
        opacity: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
      
        padding: 27px 0;
        width: 370px;
        height: 70px;
      
        font-weight: bold;
        font-size: 14px;
        line-height: 1.142;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-color;
        background: rgba(47, 48, 58, 0.8);
      
        transition: 250ms;

        .work-section__item:hover & {
          opacity: 1;
        }
      }

  }