.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  
.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  
.link {
    color: inherit;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
body {
    padding-top: 80px;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    color: $primary-text-color;
    background: $white-color;
    text-align: justify;
  }

  h1,
  h2,
  h3,
  p,
  ul {
    margin: 0px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }