$primary-text-color: #212121;
$aditional-text-color: #757575;
$accent-color: #2196f3;
$button-hover-color: #188ce8;
$white-color: #ffffff;
$black-color: #000000;
$background-light-grey-color: #f5f4fa;
$background-grey-color: #2f303a;
$grey-icon-color: #afb1b8;
$main-font: Roboto, sans-serif;
$accent-font: Raleway, sans-serif;

